/* ................................. */
.page4 {
    width: 80%;
    padding: 0px 20px;
    margin: auto;
    /* background-color: rgb(234, 166, 166); */
    padding-bottom: 10rem;
}

.contact {
    width: 70%;
    font-family: Century Gothic;
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.map {
    width: 16rem;
    height: 18rem;
    margin: auto;

}

.map img {
    border-radius: 10px;
    background-size: cover;
    object-fit: cover;
    transition-duration: 0.4s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.map:hover img {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4);
}

.data {
    width:29rem;
    border-radius: 20px;
    padding: 10px;
}

.data label {
    display: flex;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.data input {
    width: 80%;
    border-radius: 3px;
    border: none;
    background-color: #e2dcd1;
    padding: 7px 7px;
    margin: 5px 0px;
    font-size: 12px;
}

.data .quary {
    height: 70px;
}
.contact_btn{
    display: flex;
    justify-content: left;
}

.data button {
    margin-top: 30px;
    color: white;
    margin-right: 10px;
    padding: 7px 20px;
}

.data .cancel {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(31, 78, 165);
    color: black;
}