/* ................................. */
.page4 {
    width: 80%;
    margin: 5rem auto;
}

.contact {
    width: 70%;
    font-family: Century Gothic;
    margin: auto;
    display: flex;
    /* background-color: green; */
    justify-content: space-around;
}

.data_4 {
    min-width: 60%;
    /* background-color: aqua; */
    padding-left: 10px;
}

.data_4 label {
    display: flex;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.data_4 input {
    width: 80%;
    border-radius: 3px;
    border: none;
    background-color: rgb(218, 229, 254);
    padding: 7px 7px;
    margin: 5px 0px;
    font-size: 12px;
}

.data_4 .quary {
    height: 70px;
}

.contact_btns {
    display: flex;
    justify-content: left;
}
.contact_btns .button{
    padding: 7px 20px;
    color: white;
}
.contact_btns .cancel{
    border: 1px solid #4B6BFE;
    color: #4B6BFE;
    background-color: transparent;
}
.data_right {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}
.getintouch {
    margin: 20px auto;
}
.getintouch h1 {
    font-size: 6vw;
}
.data_right p{
    padding-left: 1rem;
} 