/* ................................. */
.page4 {
    width: 80%;
    margin: 5rem auto;
}

.contact {
    width: 70%;
    font-family: Century Gothic;
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.data {
    width: 29rem;
    border-radius: 20px;
    padding: 10px;
}

.data label {
    display: flex;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.data input {
    width: 80%;
    border-radius: 3px;
    border: none;
    background-color: rgb(218, 229, 254);
    padding: 7px 7px;
    margin: 5px 0px;
    font-size: 12px;
}

.data .quary {
    height: 70px;
}

.contact_btns {
    display: flex;
    justify-content: left;
}

.data button {
    margin-top: 30px;
    color: white;
    margin-right: 10px;
    padding: 7px 20px;
}

.data .cancel {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(31, 78, 165);
    color: black;
}

.data_right {
    display: flex;
    flex-direction: column;
    max-width: 16rem;
}
.getintouch {
    margin: 20px auto;
}
.getintouch h1 {
    font-size: 5rem;
}
.data_right p{
    padding-left: 1rem;
} 