.page1 {
    /* background-image: linear-gradient(45deg, rgb(204, 204, 204),white); */
    font-family: 'Century Gothic', sans-serif;
    margin: 3rem 8vw;
    overflow-x: hidden;
    
}

.header {
    position: fixed;
    top: 0px;
    left: 17%;
    width: 60%;
    z-index: 99;
    display: flex;
    word-spacing: 1px;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10px;
    flex-wrap: wrap;
    margin: auto;
    backdrop-filter: blur(3px);
    border-radius: 20px;
    animation: easeBottom 0.9s ease-in-out forwards;
    border-bottom: 1px solid rgb(188, 188, 188);
}

.name {
    background-color: transparent;
    padding-left: 30px;
    display: flex;
    text-align: center;
    align-items: center;
}

.name span {
    font-size: 1.6rem;
    font-weight: bold;
    color:#4b6bfe;
}

.name img {
    width: 25px;
    height: 30px;
    margin-left: 10px;
    background-color: transparent;
}

nav {    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    padding-right: 30px;
}

nav a {
    text-decoration: none;
    justify-content: space-between;
    font-weight: 600;
    background-color: transparent;
    transition-duration: 0.5s;
    color: #A59D84;
    padding: 5px 14px;
    transition-duration: 0.3s;
    font-size: 12PX;
}

nav a:hover{
    background-color: #4B6BFE;
    box-shadow: 2px 2px 80px -1px black;
    color: white;
    border-radius: 3px;
}

nav button {
    border-radius: 20px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    border: none;
    /* background-color: #4B6BFE; */
}

.nightmode {
    /* background-color: #4B6BFE; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.nightmode img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
}

body.night-mode {
    background-color: #171717ed;
    color: #f0f0f0;
}

body.night-mode .nightmode {
    background-color: #a3a3a300;
    /* color: white; */
}

.hero-mid {
    display: flex;
    width: 90%;
    height: 80%;
    justify-content: space-around;
    margin: 0 auto;
    padding: 7rem 0px 2rem 0px;
    /* background-color: green; */
}

/* @media (max-with:900px) { */
/* .hero-mid { */
/* display: inline-block; */
/* } */
/* } */

.myimage {
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: center;
    margin: 0px 20px;
    animation: easeTop 0.9s ease-in-out forwards;
}

.myimage img {
    width: 100%;
    height: 23rem;
    object-fit: cover;
    border-radius: 20px;
    /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); */
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */

}

/* .myimage img:hover { */
/* box-shadow: 3px 3px 8px -1px rgb(39, 39, 40); */
/* transform: translateY(-5px); */
/* } */

.bio2 {
    width: 45%;
    height: 100%;
    /* background-color: red; */
    animation: easeBottom 1s ease-in forwards;
}


.hero-mid .about {
    padding-top: 5vw;
    padding-bottom: 1.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;
    border: none;
}

.para h2 {
    font-size: 1.5rem;
    font-weight: 100;
    text-wrap: balance;
    font-weight: bold;
}

.hero-mid .about h4 {
    font-size: 2.8rem;
    color: #4B6BFE;
    margin-left: -2px;
    line-height: 2.4rem;
    padding-bottom: 12px;
}

#typewriter::after {
    content: '|';
    animation: blink 1s infinite step-end;
}

@keyframes blink {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.tagline p {
    font-size: 12px;
    color: #A59D84;
    font-weight: bold;
}

.tagline img {
    width: 13px;
    height: 9px;
    background-size: cover;
    object-fit: cover;
}

.skill_scroll {
    max-height: 50px;
    user-select: none;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid;
    padding: 3px 0px;
    --gap: 2rem;
    gap: var(--gap);
}

.skill_scroll ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    animation: scroll 19s linear infinite;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-238% - var(--gap)));
    }
}

.skill_scroll:hover ul {
    animation-play-state: paused;
}

.skill_scroll ul li {
    display: flex;
    justify-content: space-bet;
    text-align: center;
    align-items: center;
    gap: 5px;
}

.skill_scroll ul li i {
    color: #A59D84;
}

.skill_scroll ul li span {
    font-size: 10px;
    font-weight: 400;
    text-shadow: none;
}


.hero_buttons {
    display: flex;
    text-align: center;
    width: 100%;
    z-index: 9;
}


.button:hover {
    box-shadow: 2px 2px 2px -1px rgb(40, 39, 39);
    transform: translateY(-3px);
}

.button_git a,
.button a {
    text-decoration: none;
    color: white;
}

.button svg {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    color: #D7D3BF;
}

.medias {
    display: inline-block;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 6%;
    gap: 10px;
    z-index: 9;
    animation: easeLeft 0.9s ease forwards;
}

.medias img {
    width: 20px;
    height: 20px;
    background-size: cover;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #D7D3BF;
}

.medias img:hover {
    box-shadow: 2px 2px 2px -1px rgb(40, 39, 39);
    transform: translateY(-5px);
    border-top: 2px solid #4B6BFE;
}

/* .logo,.logo_sub { */
    /* position: absolute; */
    /* width: 55%; */
    /* height: 330px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* z-index: -90; */
    /* bottom: -30%; */
    /* opacity: 0.4; */
    /* left: 40%; */
    /* background-color: rgba(175, 23, 240, 0.856); */
    /* border-radius: 50%; */
    /* filter: blur(110px); */
/* } */
/* .logo_sub{ */
    /* position: absolute; */
    /* top: 0px; */
    /* left: -40%; */
/* } */

.logo img {
    width: 30px;
    height: 36px;
    animation: RotateY 3s ease-in-out infinite;
}

@media (max-width:600px) {
    .header {
        left: 0;
        top: 2px;
        height: 35px;
        width: 100%;
        padding: 5px;
        border-radius: 0px;
    }

    .header .name img {
        width: 20px;
        height: 24px;
    }

    .header button {
        width: 30px;
        height: 30px;
        padding: auto;
        background-color: transparent;
    }

    .header button img {
        width: 20px;
        height: 20px;
    }

    .header .contact_btn {
        display: none;
    }

    .header nav a {
        display: none;
    }

    .page1 {
        width: 98%;
        margin: 2px 2px;
        padding: 0px 0px;
    }

    .hero-mid {
        width: 97%;
        display: flex;
        flex-direction: column;
        /* background-color: red; */
        padding: 5px 5px;
        margin: 5px auto;
        margin-top: 40px;
    }

    .myimage {
        width: 90%;
        margin: auto;
    }

    .myimage img {
        /* border-radius: 50%; */
        width: 17rem;
        height: 20rem;
    }

    .bio2 {
        width: 90%;
    }

    .about {
        width: 90%;
        /* background-color: #343434; */
    }

    .about h2 {
        font-weight: bold;
        font-size: 1.2rem;

    }

    .about h4 span {
        font-size: 1.8rem;
    }

    .medias {
        display: flex;
        flex-direction: row;
        margin: 20px 10px;
    }

    /* >>>>>>>>>> page2 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
    .page2 {
        width: 85%;
        margin: 3%;
        padding: 0px 0px;
    }

    /* >>>>>>>>>>>>>>>>>>>>>>> page3>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .page3 {
        width: 100%;
        padding: 0px;

    }

    .project_box1,
    .project_box2 {
        width: 100%;
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 15px;
    }

    .project_each {
        width: 100%;
        height: 30vh;
        margin: 0px;
    }

    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>  page4 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .page4 {
        width: 96%;
        padding: 0px 0px;
    }

    .contact {
        width: 90%;
        flex-direction: column;
    }

    .data_4 {
        width: 90%;
    }

    .data_4 input {
        width: 100%;
    }

    .data_right {
        margin-top: 30px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .getintouch h1 {
        font-size: 3.5rem;
    }
}