* {
    margin: 0px;
    padding: 0px;
    font-family: Century Gothic;
    scroll-behavior: smooth;
    /* cursor: url("/asset/Telegram.png"),auto; */
}

body {
    background-color: white;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1 {
    font-size: 1.5rem;
    font-family: sans-serif;
}

h3 {
background-color: transparent;
color: white;
font-size: 18px;

}

p {
    font-size: 12px;
}
.button {
    /* width: 10rem; */
    background-color:#4B6BFE;
    padding: 6px 12px;
    border-radius: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 0px 10px;
    margin-top: 3vw;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* ................................... */
.header {
    position: fixed;
    top: 0;
    left: 5%;
    width: 90%;
    z-index: 999;
    background-color: rgba(180, 171, 155, 0.694);
    display: flex;
    word-spacing: 1px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    flex-wrap: wrap;
    margin: auto;
    backdrop-filter: blur(3px);
    border-radius: 0px 0px 30px 30px;
}

.curser_circle {
    position: absolute;
    pointer-events: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 9999;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
}

#main {
    width: 100vw;
}



/* next>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* ................................. */
.skill_h1 {
    margin-top: 160px;
}

.page4 {
    width: 100vw;
    font-family: Century Gothic;
    margin: auto;
}

.skill_grid {
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 1rem;
    margin: 0 4rem;
}

.boxes4 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-inline: 10px;
    border-radius: 20px;
    gap: 20px;
    padding: 20px 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boxes4:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgb(11, 58, 151);
}

.boxes4 h2 {
    padding-bottom: 20px;
    width: 100%;
    background-color: transparent;
    font-size: 21px;
    display: flex;
    text-align: start;
}

.box1 {
    width: 40%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px 0px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box1:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(11, 58, 151);
    ;
}

.box1 span {
    font-size: 12px;
}

.tech-icon {
    color: rgb(63, 63, 210);
    background-color: transparent;
    width: 80%;
    margin: 0 auto;
    font-size: 60px;
}

.uiux .tech-icon {
    color: rgb(165, 38, 177);
}

.backend .tech-icon {
    color: rgb(16, 157, 16);
}

.project {
    display: flex;
    justify-content: center;
    text-align: center;
}

.page5 {
    width: 100%;
    padding: 0px 3rem;
}

.contact {
    width: 70%;
    /* height: 60vh; */
    font-family: Century Gothic;
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.map {
    width: 16rem;
    height: 16rem;
    margin: auto;

}

.map img {
    border: 1px solid black;
    border-radius: 10px;
    background-size: cover;
    object-fit: cover;
    transition-duration: 0.4s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.map:hover img {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
}

.data {
    width: 50%;
}

.data input {
    width: 100%;
    height: 30px;
    border-radius: 7px;
    border: 1px solid black;
}

.data h4 {
    margin-bottom: 10px;
    margin-top: 20px;
}

.data .quary {
    height: 100px;
}

.data button {
    margin-top: 30px;
    padding: 7px 20px;
    color: white;
    background-color: rgb(0, 55, 255);
    border: none;
    border-radius: 9px;
    margin-right: 20px;
}

.data .cancel {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(31, 78, 165);
    color: black;
}